*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}
@font-face{
    font-family: Oxanium;
    src: url(../fonts/Oxanium.ttf);
}
$font: Oxanium;
$lgray: #EEEEEE;
$dgray: #212121;
.textFont{
    font-family: $font;
    color: $dgray;
}
.center{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.dirCol{
    flex-direction: column;
}
.justifySB{
    justify-content: space-between;
}
.justifyEnd{
    justify-content: flex-end;
}
.alignCenter{
    align-items: center;
}
.btnPadding{
    padding: 50%;
}
ul{
    width: 50%;
    li{

        a{
            padding: 34px 40px;
            &:hover{
                background: #BDBDBD;
            }
        }
    }
}
.logo{
    font-size: 70px;
    &:hover{
        background: #BDBDBD;
    }
}
.textSize1{
    font-size: 20px;
}
.textSize2{
    font-size: 35px;
}
.textSize3{
    font-size: 5vw;
}
.textSize4{
    font-size: 25px;
}
.botMarg{
    width: 100%;
    border-bottom: 1px solid $dgray;
    position: sticky;
    z-index: 50;
    top: 0px;
    background-color: $lgray;
}
.invIcon{
    display: none;
}
main{
    height: 900px;
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.topP{
    padding-top: 13vw;
}
.title{
    background-color: $lgray;
    opacity: 0.5;
    display: inline-block;
    border-radius: 2vw;
    padding: 1%;
    width: 44%;
}
@media only screen and (max-width: 780px){
    ul{
        li{
            a{
                padding: 34px 10px;
            }
        }
    }
}
@media only screen and (max-width: 480px){
    .invis{
        display: none;
    }
    .trueWidth{
        width:100%;
    }
    .invIcon{
        display: block;
    }
    ul{
        li{
            a{
                padding: 22px 10px;
            }
        }
    }
    .logo{
        font-size: 55px;
    }
    main{
        height: 480px;
        background-image: url("../img/bg3.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}