*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
}
@font-face{
    font-family: Oxanium;
    src: url(../fonts/Oxanium.ttf);
}
$font: Oxanium;
$lgray: #EEEEEE;
$dgray: #212121;
.textFont{
    font-family: $font;
    color: $dgray;
}
.center{
    width: 80%;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.dirCol{
    flex-direction: column;
}
.justifySB{
    justify-content: space-between;
}
.justifySA{
    justify-content: space-around;
}
.justifyEV{
    justify-content: space-evenly;
}
.justifyEnd{
    justify-content: flex-end;
}
.justifyCenter{
    justify-content: center;
}
.alignCenter{
    align-items: center;
}
.alignEnd{
    align-items: flex-end;
}
.alignSelf{
    align-self: center;
}
.alignSelfEnd{
    align-self: flex-end;
}
.flexWrap{
    flex-wrap: wrap;
}
.textAC{
    text-align: center;
}
.bordRad{
    border-radius: 1vw;
}
.disNone{
    display:none;
}
header{

    ul{
        width: 50%;
        li{
    
            a{
                padding: 34px 40px;
                &:hover{
                    background: #BDBDBD;
                }
            }
        }
    }
}
.logo{
    font-size: 70px;
    &:hover{
        background: #BDBDBD;
    }
}
.textSize1{
    font-size: 20px;
}
.textSize2{
    font-size: 35px;
}
.textSize3{
    font-size: 5vw;
}
.textSize4{
    font-size: 25px;
}
.textSize5{
    font-size: 3vw;
}
.textSize6{
    font-size: 1vw;
}
.textSize7{
    font-size: 1.6vw;
}
.botMarg{
    width: 100%;
    border-bottom: 1px solid $dgray;
    position: sticky;
    z-index: 50;
    top: 0px;
    background-color: $lgray;
}
.invIcon{
    display: none;
}
main{
    background-image: url("../img/bg1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.topP{
    padding-top: 13vw;
    padding-bottom: 24vw;
}
.title{
    background-color: $lgray;
    opacity: 0.5;
    display: inline-block;
    border-radius: 2vw;
    padding: 1%;
    width: 47%;
}
.stick{
    width: 50%;
    height: 5vw;
    margin: 2vw 0px;
    background: $lgray;
    border: 1px solid $dgray;
    border-radius: 1vw;
}
.innerStick{
    background: $dgray;
    width: 50%;
    height: 4vw;
    border-radius: 0.5vw 0 0 0.5vw;
    margin-left: 0.5vw;
}
.percent90{
    width: 90%;
}
.percent80{
    width: 80%;
}
.percent70{
    width: 70%;
}
.percent60{
    width: 60%;
}
.bgColor{
    background: $lgray;
}
.skill{
    font-family: $font;
    color:$lgray;
    padding-left: 0.5vw;
    font-weight: normal;
}
.margT{
    margin-top: 2vw;
}
.project{
    
    a{
        img{
            max-width: 100%;
        }
    }
}
.skills{
    position: relative;
    top: -85px;
}
#anchor2{
    position: relative;
    top: -85px;
}
#anchor3{
    position: relative;
    top: -85px;
}
.pr1{
    padding: 2vw 1vw 2vw 0vw;
}
.pr2{
    padding: 2vw 1vw 2vw 1vw;
}
.pr3{
    padding: 2vw 1vw 2vw 1vw;
}
.pr4{
    padding: 2vw 0vw 2vw 1vw;
}
.pr1b{
    display: none;
}
.pr2b{
    display: none;
}
.pr3b{
    display: none;
}
.pr4b{
    display: none;
}
.noPadding{
    padding-top: 0px;
    padding-bottom: 0px;
}
.portrait{
    max-width: 100%;
}
.about{
    width: 30vw;
}
.cForm{
    height: 25vw;
    textarea{
        resize: none;
        width: 60%;
        height: 10vw;
        outline: none;
    }
    input{
        width: 25%;
        outline: none;
    }
}
.bord{
    border: 1px solid $dgray;
}
.soc{
    font-size: 3vw;
}
.links{
    width: 30%;
}
@media only screen and(max-width: 1666px){
    .pr1{
        display: none;
    }
    .pr2{
        display: none;
    }
    .pr3{
        display: none;
    }
    .pr4{
        display: none;
    }
    .pr1b{
        display: block;
        padding: 2vw 0;
    }
    .pr2b{
        display: block;
        padding: 2vw 0;
    }
    .pr3b{
        display: block;
        padding: 2vw 0;
    }
    .pr4b{
        display: block;
        padding: 2vw 0;
    }
    .textSize6{
        font-size: 1.5vw;
    }
    .textSize7{
        font-size: 1.7vw;
    }
    .about{
        width: 27vw;
    }
}
@media only screen and(max-width: 1530px){
    .about{
        width: 25vw;
    }
}
@media only screen and(max-width: 1450px){
    .portrait{
        display:none;
    }
    .disBlock{
        display:block;
    }
    .textSize7{
        font-size: 1.5vw;
    }
}
@media only screen and(max-width: 1249px){
    .col1{
        justify-content: center;
    }
}
@media only screen and(max-width: 1100px){
    main{
        background-image: url("../img/bg4.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .topP{
        padding-top: 20vw;
        padding-bottom: 50vw;
    }
    .stick{
        width: 60%;
        height: 6vw;
        margin: 3vw 0px;
    }
    .innerStick{
        height: 5vw;
    }
    .textSize5{
        font-size: 4vw;
    }
    .center2{
        width: 70%;
    }
    .pr1{
        padding: 2vw 0vw 2vw 0vw;
    }
    .pr2{
        padding: 2vw 0vw 2vw 0vw;
    }
    .pr3{
        padding: 2vw 0vw 2vw 0vw;
    }
    .pr4{
        padding: 2vw 0vw 2vw 0vw;
    }
    .textSize6{
        font-size: 2vw;
    }
    .disBlock{
        display: none;
    }
    .disBlock2{
        display: block;
    }
    .about{
        width: 30vw;
    }
}
@media only screen and (max-width: 1000px){
    .textSize7{
        font-size: 1.7vw;
    }
}
@media only screen and (max-width: 780px){
    header{
        ul{
            li{
                a{
                    padding: 34px 10px;
                }
            }
        }
    }
    main{
        background-image: url("../img/bg2.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .topP{
        padding-top: 30vw;
        padding-bottom: 70vw;
    }
    .stick{
        width: 70%;
        height: 7vw;
        margin: 4vw 0px;
    }
    .innerStick{
        height: 6vw;
    }
    .textSize5{
        font-size: 5vw;
    }
    .title{
        width: 73%;
        h1{
            font-size: 8vw;
        }
        h2{
            font-size: 8vw;
        }
    }
    .textSize6{
        font-size: 2.5vw;
    }
    .noHobby{
        display: none;
    }
    .about{
        width: 50vw;
    }
    .textSize7{
        font-size: 2.2vw;
    }
    .cForm{
        height: 45vw;
        textarea{
            width: 90%;
            height: 15vw;
            text-align: center;
        }
        input{
            width: 50%;
            text-align: center;
        }
    }
}
@media only screen and (max-width: 670px){
    .about{
        width: 45vw;
    }
    .textSize7{
        font-size: 2.4vw;
    }
}
@media only screen and (max-width: 590px){
    .trueWidth1{
        width: 100%;
    }
    .about{
        width: 60vw;
    }
    .textSize7{
        font-size: 3vw;
    }
    .soc480{
        flex-direction: column;
        align-items: center;
    }
    .soc{
        font-size: 7vw;
    }
    .awe{
        justify-content: space-evenly;
    }
    .links{
        padding: 2vw 0;
        width: 90%;
    }
}
@media only screen and (max-width: 480px){
    .invis{
        display: none;
    }
    .trueWidth{
        width:100%;
    }
    .invIcon{
        display: block;
    }
    header{
        ul{
            li{
                a{
                    padding: 22px 10px;
                }
            }
        }
    }
    .logo{
        font-size: 55px;
    }
    main{
        background-image: url("../img/bg3.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .title{
        width: 80%;
        h1{
            font-size: 9vw;
        }
        h2{
            font-size: 9vw;
        }
    }
    .stick{
        width: 80%;
        height: 8vw;
        margin: 5vw 0px;
    }
    .innerStick{
        height: 7vw;
    }
    .textSize5{
        font-size: 6vw;
    }
    .skills{
        position: relative;
        top: -70px;
    }
    #anchor2{
        position: relative;
        top: -70px;
    }
    #anchor3{
        position: relative;
        top: -75px;
    }
    .textSize6{
        font-size: 3.5vw;
    }
    .about480{
        flex-direction: column;
        align-items: center;
    }
    .textSize7{
        text-align: justify;
        font-size: 4vw;
    }
    .about{
        width: 90%;
        margin-top: 20px;
    }
    .cForm{
        height: 45vw;
        textarea{
            width: 90%;
            height: 15vw;
            text-align: center;
        }
        input{
            width: 50%;
            text-align: center;
        }
    }
}