* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: Oxanium;
  src: url(../fonts/Oxanium.ttf);
}

.textFont {
  font-family: Oxanium;
  color: #212121;
}

.center {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dirCol {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justifySB {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justifyEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justifyCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.btnPadding {
  padding: 50%;
}

ul {
  width: 50%;
}

ul li a {
  padding: 34px 40px;
}

ul li a:hover {
  background: #BDBDBD;
}

.logo {
  font-size: 70px;
}

.logo:hover {
  background: #BDBDBD;
}

.textSize1 {
  font-size: 20px;
}

.textSize2 {
  font-size: 35px;
}

.textSize3 {
  font-size: 5vw;
}

.textSize4 {
  font-size: 25px;
}

.textSize5 {
  font-size: 3vw;
}

.botMarg {
  width: 100%;
  border-bottom: 1px solid #212121;
  position: -webkit-sticky;
  position: sticky;
  z-index: 50;
  top: 0px;
  background-color: #EEEEEE;
}

.invIcon {
  display: none;
}

main {
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.topP {
  padding-top: 13vw;
  padding-bottom: 24vw;
}

.title {
  background-color: #EEEEEE;
  opacity: 0.5;
  display: inline-block;
  border-radius: 2vw;
  padding: 1%;
  width: 47%;
}

.stick {
  width: 50%;
  height: 5vw;
  margin: 2vw 0px;
  background: #EEEEEE;
  border: 1px solid #212121;
  border-radius: 1vw;
}

.innerStick {
  background: #212121;
  width: 50%;
  height: 4vw;
  border-radius: 0.5vw 0 0 0.5vw;
  margin-left: 0.5vw;
}

.percent90 {
  width: 90%;
}

.percent80 {
  width: 80%;
}

.percent70 {
  width: 70%;
}

.percent60 {
  width: 60%;
}

article {
  background: #EEEEEE;
}

.skill {
  font-family: Oxanium;
  color: #EEEEEE;
  padding-left: 0.5vw;
  font-weight: 1;
}

@media only screen and (max-width: 1100px) {
  main {
    background-image: url("../img/bg4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .topP {
    padding-top: 20vw;
    padding-bottom: 50vw;
  }
  .stick {
    width: 60%;
    height: 6vw;
    margin: 3vw 0px;
  }
  .innerStick {
    height: 5vw;
  }
  .textSize5 {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 780px) {
  ul li a {
    padding: 34px 10px;
  }
  main {
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .topP {
    padding-top: 30vw;
    padding-bottom: 70vw;
  }
  .stick {
    width: 70%;
    height: 7vw;
    margin: 4vw 0px;
  }
  .innerStick {
    height: 6vw;
  }
  .textSize5 {
    font-size: 5vw;
  }
  .title {
    width: 73%;
  }
  .title h1 {
    font-size: 8vw;
  }
  .title h2 {
    font-size: 8vw;
  }
}

@media only screen and (max-width: 480px) {
  .invis {
    display: none;
  }
  .trueWidth {
    width: 100%;
  }
  .invIcon {
    display: block;
  }
  ul li a {
    padding: 22px 10px;
  }
  .logo {
    font-size: 55px;
  }
  main {
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .title {
    width: 80%;
  }
  .title h1 {
    font-size: 9vw;
  }
  .title h2 {
    font-size: 9vw;
  }
  .stick {
    width: 80%;
    height: 8vw;
    margin: 5vw 0px;
  }
  .innerStick {
    height: 7vw;
  }
  .textSize5 {
    font-size: 6vw;
  }
}
/*# sourceMappingURL=style.css.map */