* {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-decoration: none;
}

@font-face {
  font-family: Oxanium;
  src: url(../fonts/Oxanium.ttf);
}

.textFont {
  font-family: Oxanium;
  color: #212121;
}

.center {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dirCol {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justifySB {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justifySA {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justifyEV {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.justifyEnd {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justifyCenter {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.alignCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.alignEnd {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.flexWrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.textAC {
  text-align: center;
}

.bordRad {
  border-radius: 1vw;
}

.disNone {
  display: none;
}

ul {
  width: 50%;
}

ul li a {
  padding: 34px 40px;
}

ul li a:hover {
  background: #BDBDBD;
}

.logo {
  font-size: 70px;
}

.logo:hover {
  background: #BDBDBD;
}

.textSize1 {
  font-size: 20px;
}

.textSize2 {
  font-size: 35px;
}

.textSize3 {
  font-size: 5vw;
}

.textSize4 {
  font-size: 25px;
}

.textSize5 {
  font-size: 3vw;
}

.textSize6 {
  font-size: 1vw;
}

.textSize7 {
  font-size: 1.6vw;
}

.botMarg {
  width: 100%;
  border-bottom: 1px solid #212121;
  position: -webkit-sticky;
  position: sticky;
  z-index: 50;
  top: 0px;
  background-color: #EEEEEE;
}

.invIcon {
  display: none;
}

main {
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.topP {
  padding-top: 13vw;
  padding-bottom: 24vw;
}

.title {
  background-color: #EEEEEE;
  opacity: 0.5;
  display: inline-block;
  border-radius: 2vw;
  padding: 1%;
  width: 47%;
}

.stick {
  width: 50%;
  height: 5vw;
  margin: 2vw 0px;
  background: #EEEEEE;
  border: 1px solid #212121;
  border-radius: 1vw;
}

.innerStick {
  background: #212121;
  width: 50%;
  height: 4vw;
  border-radius: 0.5vw 0 0 0.5vw;
  margin-left: 0.5vw;
}

.percent90 {
  width: 90%;
}

.percent80 {
  width: 80%;
}

.percent70 {
  width: 70%;
}

.percent60 {
  width: 60%;
}

.bgColor {
  background: #EEEEEE;
}

.skill {
  font-family: Oxanium;
  color: #EEEEEE;
  padding-left: 0.5vw;
  font-weight: normal;
}

.margT {
  margin-top: 2vw;
}

.project a img {
  max-width: 100%;
}

.skills {
  position: relative;
  top: -85px;
}

#anchor2 {
  position: relative;
  top: -85px;
}

.pr1 {
  padding: 2vw 1vw 2vw 0vw;
}

.pr2 {
  padding: 2vw 1vw 2vw 1vw;
}

.pr3 {
  padding: 2vw 1vw 2vw 1vw;
}

.pr4 {
  padding: 2vw 0vw 2vw 1vw;
}

.pr1b {
  display: none;
}

.pr2b {
  display: none;
}

.pr3b {
  display: none;
}

.pr4b {
  display: none;
}

.noPadding {
  padding-top: 0px;
  padding-bottom: 0px;
}

.portrait {
  max-width: 100%;
}

.about {
  width: 30vw;
}

.temp {
  height: 5000px;
}

@media only screen and (max-width: 1666px) {
  .pr1 {
    display: none;
  }
  .pr2 {
    display: none;
  }
  .pr3 {
    display: none;
  }
  .pr4 {
    display: none;
  }
  .pr1b {
    display: block;
    padding: 2vw 0;
  }
  .pr2b {
    display: block;
    padding: 2vw 0;
  }
  .pr3b {
    display: block;
    padding: 2vw 0;
  }
  .pr4b {
    display: block;
    padding: 2vw 0;
  }
  .textSize6 {
    font-size: 1.5vw;
  }
  .textSize7 {
    font-size: 1.7vw;
  }
  .about {
    width: 27vw;
  }
}

@media only screen and (max-width: 1530px) {
  .about {
    width: 25vw;
  }
}

@media only screen and (max-width: 1450px) {
  .portrait {
    display: none;
  }
  .disBlock {
    display: block;
  }
  .textSize7 {
    font-size: 1.5vw;
  }
}

@media only screen and (max-width: 1249px) {
  .col1 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 1100px) {
  main {
    background-image: url("../img/bg4.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .topP {
    padding-top: 20vw;
    padding-bottom: 50vw;
  }
  .stick {
    width: 60%;
    height: 6vw;
    margin: 3vw 0px;
  }
  .innerStick {
    height: 5vw;
  }
  .textSize5 {
    font-size: 4vw;
  }
  .center2 {
    width: 70%;
  }
  .pr1 {
    padding: 2vw 0vw 2vw 0vw;
  }
  .pr2 {
    padding: 2vw 0vw 2vw 0vw;
  }
  .pr3 {
    padding: 2vw 0vw 2vw 0vw;
  }
  .pr4 {
    padding: 2vw 0vw 2vw 0vw;
  }
  .textSize6 {
    font-size: 2vw;
  }
  .disBlock {
    display: none;
  }
  .disBlock2 {
    display: block;
  }
  .about {
    width: 30vw;
  }
}

@media only screen and (max-width: 1000px) {
  .textSize7 {
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 780px) {
  ul li a {
    padding: 34px 10px;
  }
  main {
    background-image: url("../img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .topP {
    padding-top: 30vw;
    padding-bottom: 70vw;
  }
  .stick {
    width: 70%;
    height: 7vw;
    margin: 4vw 0px;
  }
  .innerStick {
    height: 6vw;
  }
  .textSize5 {
    font-size: 5vw;
  }
  .title {
    width: 73%;
  }
  .title h1 {
    font-size: 8vw;
  }
  .title h2 {
    font-size: 8vw;
  }
  .textSize6 {
    font-size: 2.5vw;
  }
  .noHobby {
    display: none;
  }
  .about {
    width: 50vw;
  }
  .textSize7 {
    font-size: 2.2vw;
  }
}

@media only screen and (max-width: 670px) {
  .about {
    width: 45vw;
  }
  .textSize7 {
    font-size: 2.4vw;
  }
}

@media only screen and (max-width: 590px) {
  .trueWidth1 {
    width: 100%;
  }
  .about {
    width: 60vw;
  }
  .textSize7 {
    font-size: 3vw;
  }
}

@media only screen and (max-width: 480px) {
  .invis {
    display: none;
  }
  .trueWidth {
    width: 100%;
  }
  .invIcon {
    display: block;
  }
  ul li a {
    padding: 22px 10px;
  }
  .logo {
    font-size: 55px;
  }
  main {
    background-image: url("../img/bg3.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .title {
    width: 80%;
  }
  .title h1 {
    font-size: 9vw;
  }
  .title h2 {
    font-size: 9vw;
  }
  .stick {
    width: 80%;
    height: 8vw;
    margin: 5vw 0px;
  }
  .innerStick {
    height: 7vw;
  }
  .textSize5 {
    font-size: 6vw;
  }
  .skills {
    position: relative;
    top: -70px;
  }
  #anchor2 {
    position: relative;
    top: -70px;
  }
  .textSize6 {
    font-size: 3.5vw;
  }
  .about480 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .textSize7 {
    text-align: justify;
    font-size: 4vw;
  }
  .about {
    width: 90%;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */